<h5> Add Player </h5>
<div>
  {{input placeholder='Name' value=playerForm.name}}
  {{input placeholder='Rank' value=playerForm.rank}}
  {{input placeholder='Character' value=characterName}}
  {{input placeholder='Opponent' value=opponentName}}
</div>
<button {{action 'createPlayer'}}> Submit </button>
