<div>
  {{#unless isEditable}}
    <p>{{player.name}}<br />
    Rank: {{player.rank}}<br />
    Characters: {{player.characters}}<br />
    Opponents: {{player.opponents}}</p>
  {{else}}
    <p>Name: {{input value=player.name}}</p>
    <p>Rank: {{input value=player.rank}}</p>
    <p>Characters: {{player.characters}}</p>
    <p>Opponents: {{player.opponents}}</p>
    <button {{action 'updatePlayer'}}>EDIT</button>
    <button {{action 'destroyPlayer'}}>DESTROY</button>

  {{/unless}}
</div>
